@CHARSET "UTF-8";


div#clear {
   clear: both;
}

/* ---------------------------------------------------chat head */
div#chat_top {
   height: 80px;
   font-size: 20px;
   color: #fff;
   font-weight: bold;
   text-align: center;
   line-height: 80px;
   background-color: #561dad;
}

img#chat_menu {
   float: right;
   width: 50px;
   height: 50px;
   margin: 15px 15px;
}


/* ----------------------------------------------------chat 본문 */
div#chat_boay {
   height: auto;
   max-height: 700px;
}

fieldset{
   border-top: 1px solid #333;
   border-bottom: none;
   border-left: none;
   border-right: none;
}

fieldset>legend {
   text-align: center;
   margin: 10px auto;
   padding: 0 20px;
}

/* ---------------------------------------------------chat 대화상자 */
div#chat_receive { /* 메세지 받은 사람 */
   float: right;
   padding: 15px;
}
div#chat_receive span#chat_msg {
   border: 1px solid #d6c0f8;
   padding: 12px;
   border-radius:10px;
   background-color: #d6c0f8;
   font-size: 12px;
}

div#chat_send { /* 메세지 보낸 사람 */
   float: left;
   padding: 15px;
}
div#chat_send span#chat_msg {
   border: 1px solid #f9bfef;
   padding: 12px;
   border-radius:10px;
   background-color: #f9bfef;
   font-size: 12px;
}

/* ------------------------------------------------ 메세지 입력 창*/
div#chat_clip {
   height: 50px;
   background-color: #eee;
   border:1px solid #eee;
}

div#chat_c_img {
	width: 20px;
	height: 20px;
	cursor: pointer;
	vertical-align:middle;
	margin:15px;
   
	background-image: url("../img/chat/file_off.png");
	background-repeat: no-repeat;
	background-size: 20px;
}
div#chat_c_img:HOVER {
	background-image: url("../img/chat/file_on.png");
	background-repeat: no-repeat;
	background-size: 20px;
}

div#clip_menu {
	position: absolute;
	background-color: #fff;
	border: 1px solid #eee;
	border-radius: 3px;
	
	margin: -12px 0 0 15px;
	/* padding: 5px; */
	font-size: 12px;
	box-shadow: 1px 1px 5px 1px #c2c2c2;
}
div#clip_menu li {
	list-style: none;
	margin-left: -40px;
	padding: 8px;
	cursor: pointer;
}
div#clip_menu li>img {
	margin-right: 7px;
	width: 14px;
}

div#clip_menu li:HOVER {
	background-color: #efe8fb;
	
}




textarea {
   border: none;
   padding: 5px;
}

input#chat_btn {
	border-radius: 3px;
	border: 0px currentColor;
	width: 70px;
	height: 70px;
	right: 9px;
	
	color: #fff;
	font-size: 14px;
	position: absolute;
	
	cursor: pointer;
	background-color: #ddd;
	padding-right: 10px;
    padding-left: 10px;
    vertical-align: middle;
}












