@CHARSET "UTF-8";




.invite_popup { /* 전체창  */
    			position: absolute;
  				background-color: #fff;
    			border-radius: 4px;
    			-moz-border-radius: 4px;
    			-webkit-border-radius: 4px;
} 

.invite_divdefault { padding: 0 20px; }

#invite_top {  	/* 프로젝트명 상단 */
				position: relative;
 				padding-top: 63px;
    			height: 77px;
    			border-bottom: 1px solid #e7e9eb;
			 }

#invitePrjname { /* 프로젝트명  */
				 text-align: center;
				 margin : 5px;
				}


#invite_sub { /* 메뉴선택  */
			  margin-top: 25px; 
			  width: 460px;
			  height: 374px; 
			  }

#invite_sub ul li {  /* 메뉴선택틀  */
	position: relative;
	height:70px;
	margin-top: 10px;
	padding: 14px 10px 0 81px;
	border: 1px solid #a2a4a7;
	border-radius: 7px;
}

#invite_sub ul li:HOVER { /* HOVER  */
    border: 1px solid #5c5f63;
    cursor: pointer;
}

#invite_sub ul li .tit { /* 메뉴선택큰글자 */
				   font-size: 20px;
    			   font-weight: bold;
                   color: black;
                   letter-spacing: -1px;  }
                   
#invite_sub ul li .txt {  /* 메뉴작은글자  */
						margin-top: 2px;
						font-size: 14px;
						 color: #969696; }
						 
#invite_sub ul li .ico {
    position: absolute;
    top: 18px;
    left: 20px;
    display: inline-block;
    width: 48px;
    height: 48px;
}
						 
#invite_sub ul li .ico1 {
	background: url(../img/invite/ico_prdbx_df1.png) no-repeat 0 0;
}

#invite_sub ul li .ico2 {
	background: url(../img/invite/ico_prdbx_df2.png) no-repeat 0 0;
}

#invite_sub ul li .ico3 {
	background: url(../img/invite/ico_prdbx_df3.png) no-repeat 0 0;
}

#invite_sub ul li .ico4 {
	background: url(../img/invite/ico_prdbx_df4.png) no-repeat 0 0;
}


