@CHARSET "UTF-8";

.prdbx_wrap { /* 전체팝업 */
    position: absolute;
    background-color: #fff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.prof_bx .prof_thumb { /* img */
    position: relative;
    overflow: hidden;
    width: 400px;
    height: 400px;
    background-color: #5f5ab9;
    font-size: 0;
    line-height: 0;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}

.prof_bx .prof_thumb .bg { /* img_background */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    width: 400px;
    box-shadow: 0 -20px 10px -10px rgba(0, 0, 0, 0.1) inset;
}


.prof_bx .prof_thumb img { /* only img  */
    display: inline-block;
}

img { border: none; }

.prof_bx .prof_info { /* profile_info   */
    padding: 15px 30px 0;
}

.prof_bx .prof_info .prof_top { /* profile_info_top -BAO -이름  */
    position: relative;
    height: 84px;
    border-bottom: 1px solid #e9eaed;
}

.prof_bx .prof_info .prof_cn { /* email  */
    margin-top: 16px;
    height: 80px;
}

.prof_bx .prof_info .prof_btn { /* button */
    margin-top: 24px;
    text-align: center;
}

.btn_prd_sty1_b { /* 채팅하기  */
    height: 30px;
    width: 110px;
    padding: 0 1px 0 0;
    background: url(../img/right_menu/btn_prd_sty1_b.gif) no-repeat right top;
}

.btn_prd_sty1 { /* 프로필수정  */
    height: 30px;
    width:110px;
    padding: 0 1px 0 0;
    background: url(../img/right_menu/btn_prd_sty1.gif) no-repeat right top;
}

.btn_prd_sty1 span, .btn_prd_sty1_b span { /* 채팅하기, 프로필수정 버튼  */
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    vertical-align: top;
}

.btn_prd_sty1_b span { /* 채팅하기  */
    min-width: 80px;
    height: 26px;
    padding: 4px 10px 0 13px;
    font-weight: bold;
    color: #fff;
    background: url(../img/right_menu/btn_prd_sty1_b.gif) no-repeat left top;
}

.btn_prd_sty1 span { /* 프로필수정 */
    min-width: 80px;
    height: 26px;
    padding: 4px 10px 0 13px;
    font-weight: bold;
    color: #fff;
    background: url(../img/right_menu/btn_prd_sty1.gif) no-repeat left top;
}

.prof_bx .prof_info .prof_btn {
    margin-top: 24px;
    text-align: center;
}













.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 200px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}